  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- 页面主内容 -->
  <!-- 九千年文化 -->
  <section>
    <div class="container-center">
      <div class="title-center">
        <div class="panel-title">
          <h1>九千年文化<br><small>一家致力于互联网应用、服务、解决方案的供应商</small></h1>
        </div>
        <div class="panel-body">
          <a class="hvr-fade" href="#">了解详情</a>
        </div>
      </div>
    </div>
  </section>
  <!-- 服务范围介绍 -->

  <section>
    <div class="container-center">
      <div class="title-center">
        <h2>服务范围
          <br>
          <small>产品开发、策划与运营、影视传播</small>
        </h2>
      </div>
    </div>
    <!-- 这里是服务内容项（待更改） -->
    <div class="container">
      <!-- <img class="img-responsive" src="images/content-services.png"> -->
    </div>
  </section>
  <!-- 作品案例展示 -->
  <section>
    <div class="container-center">
      <div class="title-center">
        <h2>作品案例<br><small>产品开发、策划与运营、影视传播</small></h2>
      </div>
    </div>
    <div class="container">
      <!-- 这里是作品案例项（待更改） -->
      <!-- <img class="img-responsive" src="images/content-works.png"> -->
    </div>
  </section>
